<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Error 404</ion-title>
    <ion-icon name="game-controller" slot="start" size="large" class="ion-margin-start" color="success"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">

  <ion-img src="assets/erro.jpg" alt="erro 404"></ion-img>

  <h3>Ooooops!</h3>
  <p>O conteúdo que você está tentando acessar não pode ser encontrado.</p>
  <p>Use o botão abaixo para retornar ao início</p>

  <ion-button expand="full" routerLink="/home">Home</ion-button>

</ion-content>